<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.podcast.mapper.ChannelMapper">



    <resultMap id="ChannelDateResultMap" type="ChannelDate">
        <result column="channel_title" property="channelTitle"></result>
        <result column="update_timestamp" property="updateTimestamp"></result>
        <result column="latest_check_timestamp" property="latestCheckTimestamp"></result>
        <result column="channel_face" property="channelFace"></result>
    </resultMap>

    <resultMap id="DownloadResultMap" type="Download">
        <result column="downloader_name" property="downloaderName"></result>
        <result column="total_size" property="totalSize"></result>
        <result column="current_speed" property="currentSpeed"></result>
        <result column="final_at" property="finalAt"></result>
        <result column="eta" property="ETA"></result>
    </resultMap>
</mapper>