.el-table .warning-row {
    background: oldlace;
}

.el-table .success-row {
    background: #f0f9eb;
}

.footer {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}


.footer a {
    /*color: #01A2FF;*/
    margin-right: 10px;
    /* 右边距的设置 */
    text-decoration: none;
    /* 去除下划线 */
    font-size: 20px;
    /* 字体大小设置为25像素 */
    font-weight: bold;
    /* 字体加粗 */
}
/*排序按钮*/
.reverse-button {
    position: fixed;
    bottom: 2%;
    right: 2%;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.up-button {
    position: fixed;
    bottom: 7%;
    right: 2%;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 1.5em;
}
