.footer {
    position: fixed;
    bottom: 20px;
    /* 上提的距离 */
    left: 0;
    width: 100%;
    text-align: center;
}
.Download {
    height: 90vh;
    overflow-y: scroll;
}
#app {
    display: flex;
    /*height: 100vh;*/
}

.sidebar {
    width: 200px;
    background-color:#FFFFFF;
}

.main {
    flex: 1;
    padding: 20px;
}

#logspage {
    display: flex;
    flex-direction: column;
}

.logs {
    height: 70vh;
    /* 将高度设置为页面高度的 80% */
    padding: 20px;
    overflow-y: scroll;
    background-color: #f0f0f0;
}

.el-table .warning-row {
    background: oldlace;
}

.el-table .success-row {
    background: #f0f9eb;
}
/*去除file按钮的样式*/
.custom-file-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.pluginList {
    height: 30vh;
    overflow-y: scroll;
}

/*排序按钮*/
.reverse-button {
    position: fixed;
    bottom: 2%;
    right: 2%;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.up-button {
    position: fixed;
    bottom: 7%;
    right: 2%;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 1.5em;
}