<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- vue2 -->
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.13/vue.js"></script>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <!--    引入axios-->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!--引入css  -->
  <link rel="stylesheet" href="css/add.css">
  <!--   引入axios-->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>添加订阅</title>
</head>

<body>
  <div class="container" id="app">
    <h2>添加订阅</h2>
    <form id="form" action="" method="post">
      <div class="form-group">
        <label for="url">主页链接:</label>
        <input type="text" id="url" name="url" placeholder="输入 URL" v-model="url">
      </div>
      <div class="form-group">
        <label for="select-left">类型:</label>
        <select id="select-left" name="select-left" v-model="type">
          <option value="" selected disabled>选择类型</option>
          <option value="video" name="type">Video</option>
          <option value="audio" name="type" selected>Audio</option>
        </select>
      </div>
      <div class="form-group">
        <label for="select-right">检查更新频率:</label>
        <select id="select-right" name="frequency" v-model="frequency">
          <option value="" selected disabled>选择检查更新频率</option>
          <option value="60">每 1 分钟(测试)</option>
          <option value="1200" selected>每 20 分钟</option>
          <option value="1800">每 30 分钟</option>
          <option value="3600">每 60 分钟</option>
        </select>
      </div>

      <div class="form-group">
        <label for="select-survival_time">选择节目存活时间:</label>
        <select id="select-survival_time" name="survival" v-model="survival">
          <option value="" selected disabled>选择节目存活时间</option>
          <option value="60">1分钟(测试)</option>
          <option value="86400">1天</option>
          <option value="604800" selected>7天</option>
          <option value="1209600">14天</option>
          <option value="2592000">30天</option>
        </select>
      </div>

      <div class="form-group">
        <label for="select-Episodes">选择剧集:</label>
        <select id="select-Episodes" name="Episodes"  v-model="episodes" >
          <option value="" selected disabled>选择剧集</option>
          <option value="0" selected>最新一集</option>
          <option value="-1">最近30集</option>
          <option value="1">自定义剧集</option>
        </select>
      </div>


      <div id="customInputContainer" class="form-group" v-if="episodes==1">
        <label for="customInput">自定义剧集:</label>
        <input type="text" id="customInput" name="customInput" v-model="customInput">
      </div>

      <div class="form-group">
        <button id="btn" type="button" @click="submit">Add</button>
      </div>
    </form>
  </div>

  <!--引入js-->
  <script src="js/add.js"></script>
</body>

</html>