<!DOCTYPE html>
<html lang="zh" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
<!--    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>订阅列表</title>
    &lt;!&ndash; vue2 &ndash;&gt;
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.13/vue.js"></script>
    &lt;!&ndash; 引入样式 &ndash;&gt;
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    &lt;!&ndash; 引入组件库 &ndash;&gt;
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    &lt;!&ndash;    引入axios&ndash;&gt;
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    &lt;!&ndash; 引入订阅列表css   &ndash;&gt;
    <link rel="stylesheet" href="css/index.css">
    &lt;!&ndash; 引入qrcode &ndash;&gt;
    <script src="https://cdn.bootcdn.net/ajax/libs/qrcodejs/1.0.0/qrcode.js"></script>
    &lt;!&ndash;网页logo&ndash;&gt;
    <link rel="icon" href="imgs/logo_favicon.ico">-->

    <!--  本地引用  -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>订阅列表</title>
    <!-- vue2 -->
    <script src="js/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="js/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="js/element-ui/lib/index.js"></script>
    <!-- 引入axios -->
    <script src="js/axios.min.js"></script>
    <!--引入订阅列表css  -->
    <link rel="stylesheet" href="css/index.css">
    <!-- 引入qrcode -->
    <script src="js/qrcode.js"></script>
    <!--网页logo-->
    <link rel="icon" href="imgs/logo_favicon.ico">
</head>

<body>
    <div id="app">
        <!-- 展示订阅列表 -->
        <el-table ref="multipleTable" :data="tableData" tooltip-effect="dark" style="width: 100%"
            @selection-change="handleSelectionChange">
            <el-table-column type="selection" width="55">
            </el-table-column>
            <el-table-column type="index" width="50">
            </el-table-column>
            <el-table-column label="更新时间" width="120" prop="updateTimestamp">
            </el-table-column>
            <el-table-column prop="channelTitle" label="频道名称" show-overflow-tooltip>
            </el-table-column>

            <!-- 相关操作 -->
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button size="mini" type="success" plain
                        @click="copyToClipboard(scope.row.uuid)">复制URL</el-button>
                    <el-button size="mini" type="success" plain @click="changeUrl(scope.row.uuid)">二维码
                    </el-button>
                    <el-button size="mini" type="danger" plain @click="dele(scope.row.uuid)">删除</el-button>
                    </el-button>
                    <el-button size="mini" type="primary" plain @click="editDialog(scope.row.uuid)">编辑</el-button>
                </template>
            </el-table-column>
        </el-table>


        <!-- 页面底部的控制按钮 -->
        <div class="footer">
            <el-button type="primary" size="mini" @click="toAdd">添加订阅</el-button>
            <el-button type="primary" plain size="mini" @click="toManage">管理</el-button>
            <el-dropdown>
                <el-button type="primary" size="mini" plain>
                    更多<i class="el-icon-arrow-down el-icon--right"></i>
                </el-button>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item @click.native="deletes">批量删除</el-dropdown-item>
                    <el-dropdown-item @click.native="downloadOPML">生成OPML</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </div>

        <!-- 弹出二维码 -->
        <el-dialog :visible.sync="dialogVisible" width="310px" @opened="qrCodeCreate" :before-close="qrCodeHandleClose">
            <div style="margin-left: 1%">
                <div id="qrCode" ref="qrCode"></div>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogCopyURL">复制链接</el-button>
                <el-button type="primary" @click="qrCodeHandleClose">关闭窗口</el-button>
            </span>
        </el-dialog>


        <!-- 弹出编辑 -->
        <el-dialog
                :title="editChannelData.channelTitle"
                :visible.sync="editDialogVisible"
                width="23%"
                :before-close="editHandleClose"
        >

            <el-form ref="form" :model="editChannelData" label-width="25%">
                <el-form-item label="类型">
                    <el-select v-model="editChannelData.type" placeholder="editChannelData.type">
                        <el-option label="音频" value="audio"></el-option>
                        <el-option label="视频" value="video"></el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="检查更新频率">
                    <el-select v-model="editChannelData.frequency">
                        <el-option label="每 1 分钟(测试)" value="60">每 1 分钟(测试)</el-option>
                        <el-option label="每 10 分钟" value="600" ></el-option>
                        <el-option label="每 20 分钟" value="1200"></el-option>
                        <el-option label="每 30 分钟" value="1800"></el-option>
                        <el-option label="每 60 分钟" value="3600"></el-option>
                    </el-select>
                </el-form-item>


                <el-form-item label="选择节目存活时间">
                    <el-select v-model="editChannelData.survival">
                        <el-option label="1分钟(测试)" value="60"></el-option>
                        <el-option label="60分钟(测试)" value="3600"></el-option>
                        <el-option label="1天" value="86400"></el-option>
                        <el-option label="2天" value="172800"></el-option>
                        <el-option label="7天" value="604800" selected></el-option>
                        <el-option label="14天" value="1209600"></el-option>
                        <el-option label="30天" value="2592000"></el-option>
                        <el-option label="10年" value="315360000"></el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="更新状态">
                    <el-select v-model="editChannelData.status" >
                        <el-option label="继续更新" value="1"></el-option>
                        <el-option label="停止更新" value="0"></el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="下载器选项">
                    <el-select v-model="editChannelData.args">
                        <el-option label="默认" value="null"></el-option>
                        <el-option label="自定义" value="customize"></el-option>
                    </el-select>

                    <el-input  :style="{ margin: '10px 0' }"
                               v-if="editChannelData.args=='customize'"
                               v-model="editChannelData.customArgs">
                    </el-input>

                </el-form-item>

                <el-form-item>
                    <el-button @click="editDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="submitEdit">修 改</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>

    </div>

    <!--    外部js文件要在底部引入，在head引入无效-->
    <script src="js/index.js"></script>

</body>

</html>