<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- vue2 -->
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.13/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!--引入css  -->
    <link rel="stylesheet" href="css/manage.css">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!--    引入axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--网页logo-->
    <link rel="icon" href="imgs/logo_favicon.ico">
    <title>管理</title>
</head>

<body>
    <div id="app">

        <!--面包屑-->
        <div class="sidebar">
            <el-menu :default-active="activeMenu" class="el-menu-vertical-demo" @select="handleMenuSelect">
                <el-submenu index="system">
                    <template slot="title">系统</template>
                    <el-menu-item index="info">概况</el-menu-item>
                    <el-menu-item index="logs">日志</el-menu-item>
                </el-submenu>

                <el-submenu index="user">
                    <template slot="title">用户</template>
                    <el-menu-item index="changePassword">修改</el-menu-item>
                </el-submenu>
                <el-menu-item index="SubscriptionList" @click="toSubscriptionList">订阅列表</el-menu-item>
                <el-menu-item index="about">关于</el-menu-item>
                <el-menu-item index="exit" @click="exit">退出</el-menu-item>
            </el-menu>
        </div>

        <!--查看日志-->
        <div class="main">
            <div v-show="activeMenu === 'logs'">
                <title>实时日志页面</title>
                <div id="logspage">
                    <el-card>
                        <div slot="header" class="clearfix">
                            <span>实时日志</span>
                            <el-button style="float: right;" type="danger" @click="clearLogs">清除日志</el-button>
                        </div>
                        <div class="logs">
                            <template v-for="log in logs">
                                <p>{{ log }}</p>
                            </template>
                        </div>
                    </el-card>
                </div>
            </div>


            <!--显示项目介绍-->
            <div v-show="activeMenu === 'about'">
                <el-menu>
                    <el-menu-item>
                        <iframe src="https://yajuhua.github.io" width="100%" height="1080" frameborder="0"></iframe>
                    </el-menu-item>
                </el-menu>
            </div>


            <!--修改用户名和密码-->
            <div v-show="activeMenu === 'changePassword'"><el-form :inline="true" :model="formInline"
                    class="demo-form-inline">
                    <el-form-item label="用户名">
                        <el-input v-model="formInline.user" placeholder="用户名"></el-input>
                    </el-form-item>

                    <el-form-item label="密码">
                        <el-input v-model="formInline.password" placeholder="密码"></el-input>
                    </el-form-item>
                    <el-form-item>

                        <el-button type="primary" @click="changeUserPasswd">修改</el-button>
                    </el-form-item>
                </el-form></div>

            <!--系统概况-->
            <div v-show="activeMenu === 'info'">
                <h2>系统概况</h2>
                <el-upload  class="upload-demo" ref="upload2" action="./system/uploadWarServlet" :on-preview="handlePreview2"
                           :on-remove="handleRemove2" :file-list="fileList" :auto-upload="false"
                           :on-success="handleResponse2">
                    <el-button slot="trigger" size="small" type="primary">选取war包</el-button>
                    <el-button style="margin-left: 10px;" size="small" type="success"
                               @click="submitUpload2">上传到服务器</el-button>
                    <el-button type="warning" @click="restart" size="small">重启系统</el-button>
                    <el-button type="danger" size="small" @click="updateSystem" v-if="preparingForUpdates==true">更新系统</el-button>

                </el-upload>

                <div>
                    <el-table :data="infoData" :row-class-name="tableRowClassName">
                        <el-table-column prop="key"></el-table-column>
                        <el-table-column prop="value"></el-table-column>
                    </el-table>

                    <!--插件列表-->
                    <h2>插件列表</h2>
                    <el-upload class="upload-demo" ref="upload1" action="./system/uploadServlet" :on-preview="handlePreview"
                        :on-remove="handleRemove" :file-list="fileList" :auto-upload="false"
                        :on-success="handleResponse">
                        <el-button slot="trigger" size="small" type="primary">选取插件</el-button>
                        <el-button style="margin-left: 10px;" size="small" type="success"
                            @click="submitUpload">上传到服务器</el-button>
                        <el-button type="danger" size="small" @click="deletePlugins">批量删除</el-button>
                    </el-upload>
                    <div>
                        <el-table :data="systemAllData1.pluginList" style="width: 100%"
                            :row-class-name="tableRowClassName" @selection-change="handleSelectionChange">
                            <el-table-column type="selection" width="55">
                            </el-table-column>
                            <el-table-column label="名称" width="180">
                                <template slot-scope="scope">{{ scope.row.name }}</template>
                            </el-table-column>
                            <el-table-column label="版本" width="180">
                                <template slot-scope="scope">{{ scope.row.version }}</template>
                            </el-table-column>
                            <el-table-column label="更新时间" prop="update">
                            </el-table-column>
                            <el-table-column label="操作">
                                <el-button type="danger" slot-scope="scope"
                                    @click="deletePlugin(scope.row)">删除</el-button>
                            </el-table-column>

                        </el-table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 引入管理页面js-->
    <script src="js/manage.js"></script>
</body>

</html>