<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.github.yajuhua.podcast2.mapper.UserMapper">
    <update id="update">
        update user
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="uuid != null">
                uuid = #{uuid},
            </if>
            <if test="firstVersion != null">
                first_version = #{firstVersion},
            </if>
            <if test="hostname != null">
                hostname =
                <choose>
                    <!--如果值为'none',设置为Null -->
                    <when test="hostname == 'none'">NULL</when>
                    <!-- 否则正常使用参数值 -->
                    <otherwise>#{hostname}</otherwise>
                </choose>,
            </if>
            <if test="autoUpdatePlugin != null">
                auto_update_plugin = #{autoUpdatePlugin},
            </if>
            <if test="isSsl != null">
                is_ssl = #{isSsl},
            </if>
            <if test="hasSsl != null">
                has_ssl = #{hasSsl},
            </if>
            <if test="apiToken != null">
                api_token = #{apiToken},
            </if>
            <if test="botInfo != null">
                bot_info = #{botInfo},
            </if>
            <if test="apiDoc != null">
                api_doc = #{apiDoc},
            </if>
            <if test="xmlConfData != null">
                xml_conf_data =
                <choose>
                    <!--如果值为'none',设置为Null -->
                    <when test="xmlConfData == 'none'">''</when>
                    <!-- 否则正常使用参数值 -->
                    <otherwise>#{xmlConfData}</otherwise>
                </choose>
            </if>
        </set>
    </update>
</mapper>
